@import 'font';
// @import 'icomoon';

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    background: #251D1A;
}

p, ul, h1, h2, h3, h4, h5, h6, li, input, button {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}
a, span {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    display: inline-block;
}

img {
    width: 100%;
    display: inline-block;
}