.header_block {
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}

.logo_wrapper {
  max-width: 200px;
  transition: 0.5s ease;
}
.logo_wrapper .logo {
  display: flex;
}
.logo_wrapper .logo_img {
  max-width: 45px;
}
.logo_wrapper .logo__text {
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #EFE7E2;
  align-self: center;
  padding-left: 15px;
  min-width: 135px;
}

.nav_list {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 135%;
  color: #EFE7E2;
  display: flex;
  gap: 40px;
}
.nav_list .nav_item {
  gap: 15px;
  align-self: center;
}
.nav_list .link_item {
  color: #EFE7E2;
}
.nav_list .link_item_text {
  text-align: right;
  max-width: 105px;
}
.nav_list .icon-location {
  background: #FF6E40;
  border-radius: 30px;
  width: 36px;
  height: 36px;
  position: relative;
  margin-left: 15px;
}
.nav_list .icon-location::before {
  width: 12px;
  height: 18px;
  position: absolute;
  top: 30%;
  left: 30%;
}
.nav_list .icon-phone {
  background: #FF6E40;
  border-radius: 30px;
  width: 36px;
  height: 36px;
  position: relative;
  margin-left: 15px;
}
.nav_list .icon-phone::before {
  position: absolute;
  top: 30%;
  left: 30%;
}
.nav_list .link_item_phone {
  max-width: 146px;
  text-align: right;
}
.nav_list .link_item_phone .phone_number {
  font-weight: 400;
  font-size: 18px;
  line-height: 152%;
}
.nav_list .link_item_phone .subtext {
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 18.9px;
  color: #EFE7E2;
}

.hero_wrapper {
  max-width: 1180px;
  position: relative;
  margin: 0 auto;
}
.hero_wrapper .title {
  position: absolute;
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 77px;
  color: #EFE7E2;
  max-width: 670px;
  margin: 40px auto auto 60px;
}
.hero_wrapper .text_button {
  padding: 10px 25px;
  position: absolute;
  left: 62%;
  top: 8%;
  text-transform: uppercase;
  border: 1px solid #EFE7E2;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}
.hero_wrapper .subtitle {
  position: absolute;
  left: 62%;
  top: 14%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #EFE7E2;
  max-width: 300px;
}
.hero_wrapper .button {
  padding: 18px 50px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  border: none;
}
.hero_wrapper .button-orange {
  background: #FF6E40;
  position: absolute;
  cursor: pointer;
  bottom: 0%;
  margin: 0 0 60px 60px;
  color: #FFFFFF;
}

.hero_description {
  margin-top: -250px;
  background-color: red;
  padding-top: 350px;
}
.hero_description .description_wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 125px;
  gap: 60px;
}
.hero_description .hero_description_item {
  max-width: 300px;
  text-align: center;
}
.hero_description .hero_description_item .item_icon {
  max-width: 80px;
  max-height: 80px;
  padding-bottom: 25px;
}
.hero_description .hero_description_item .description_text .description_title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #EFE7E2;
  padding-bottom: 10px;
}
.hero_description .hero_description_item .description_text .description_subtext {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #B7AAA2;
  max-width: 244px;
}

.section_about {
  background: yellowgreen;
  padding-top: 100px;
}
.section_about .about_text {
  max-width: 580px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
}
.section_about .about_title {
  font-family: "Fira Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
  padding-bottom: 10px;
}
.section_about .about_description {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #EFE7E2;
}

.photo_block {
  display: grid;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding-bottom: 60px;
}

.about_images {
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(2, 337px);
}

.item:nth-child(1) {
  grid-row: 1/2;
  grid-column: 1/3;
}
.item:nth-child(6) {
  grid-row: 2/3;
  grid-column: 3/5;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 20px;
}
.button_wrapper .button {
  padding: 18px 50px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  border: none;
  color: #FFFFFF;
  background-color: #FF6E40;
}
.button_wrapper .social_link {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #EFE7E2;
  color: #FFFFFF;
  padding: 23px 40px;
}

.section_feedback {
  background-color: fuchsia;
}
.section_feedback .feedback_text {
  padding-top: 100px;
  max-width: 580px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
}
.section_feedback .feedback_text .feedback_title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
  padding-bottom: 24px;
}
.section_feedback .feedback_text .feedback_description {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #EFE7E2;
  max-width: 350px;
}