@media screen and (max-width:850px) {
    .header .list__item .list__link {
        font-size: 16px;
    }
    .header .header__callback {
        font-size: 16px;
    }
    .who_we_are__cards {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;

        .cards__item { 
            flex: 0 0 33.333%; 
        }

        .flip_card {
            margin-bottom: 10px;
        }

    }
    .footer .menu__list .list__item .list__link {
        font-size: 16px;
        line-height: 20px;
    }

}

@media screen and (max-width:768px) {
    .header .menu__list {
        display: none;
    }
    .who_we_are__cards  {
         .card__post {
            font-size: 16px;
            line-height: 20px;
        }
        .card__name {
            font-size: 16px;
            line-height: 20px; 
        }
        }

        .footer .footer__socials.icons .icons__item {
            width: 35px;
            line-height: 35px;
        }
       

}

@media screen and (max-width:385px) {
   
    
    .header .header__callback {
        display: none;
    }
    
    .footer .menu__list {
        flex-direction: column;
    }
    
}