.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Vortex
 */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}
.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}
.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

/* lato-300 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/lato-v23-latin-300.woff2") format("woff2"), url("../fonts/lato-v23-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato-v23-latin-700.woff2") format("woff2"), url("../fonts/lato-v23-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html, body, h1, h2, h3, h4, h5, h6, p, div, ul {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body * {
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  display: inline-block;
}

.container {
  margin: 0 auto;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  font-family: "Lato", sans-serif;
}

.header_wrapper {
  border-bottom: 1px solid #BDBDBD;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}
.header .header__logo {
  padding: 10px 0;
}
.header .menu__list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.header .list__item .list__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #3C3C3C;
  transition: all 0.4s ease;
}
.header .list__item .list__link:hover {
  color: #18B5DC;
}
.header .header__callback {
  padding: 10px 20px;
  border: 1px solid #3C3C3C;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #3C3C3C;
  transition: all 0.4s ease;
}
.header .header__callback:hover {
  color: #fff;
  border: 1px solid #18B5DC;
  background: #18B5DC;
}
.header .hamburger {
  display: none;
}

.main {
  background-color: #F6F6F6;
  padding: 120px 0;
}

.who_we_are .who_we_are__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #3C3C3C;
  padding-bottom: 20px;
  margin-bottom: 40px;
  position: relative;
}
.who_we_are .who_we_are__title::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 4px;
  background: #DDDBDB;
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
}
.who_we_are .who_we_are__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #3C3C3C;
  max-width: 570px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.who_we_are__cards {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.who_we_are__cards .cards__item {
  flex: 1 1 0;
}
.who_we_are__cards .cards__item:hover .flip_card {
  transform: rotateX(180deg);
}
.who_we_are__cards .flip_card {
  position: relative;
  max-width: 270px;
  margin-bottom: 20px;
  transition: transform 0.5s ease-in;
  transform-style: preserve-3d;
  padding-bottom: 100%;
}
.who_we_are__cards .flip_card .card {
  cursor: pointer;
}
.who_we_are__cards .flip_card .flip_card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.who_we_are__cards .flip_card .flip_card__front .card__img {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.who_we_are__cards .flip_card .flip_card__front .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.who_we_are__cards .flip_card .flip_card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
  backface-visibility: hidden;
}
.who_we_are__cards .flip_card .flip_card__back .card__content {
  background-color: #18B5DC;
  position: relative;
  padding-top: 100%;
}
.who_we_are__cards .flip_card .flip_card__back .card__content.raphael {
  background-color: #db2c2c;
}
.who_we_are__cards .flip_card .flip_card__back .card__content.donatello {
  background-color: #a844a8;
}
.who_we_are__cards .flip_card .flip_card__back .card__content.michelangelo {
  background-color: orange;
}
.who_we_are__cards .flip_card .flip_card__back .card__content .card__socials {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  display: inline-flex;
  gap: 3px;
}
.who_we_are__cards .flip_card .flip_card__back .card__content .card__socials .icons__item {
  width: 42px;
  line-height: 42px;
  text-align: center;
  background: #5DCBE6;
  color: #ffffff;
  transition: all 0.4s ease;
}
.who_we_are__cards .flip_card .flip_card__back .card__content .card__socials .icons__item:hover {
  background-color: #FFFFFF;
  color: #18B5DC;
}
.who_we_are__cards .flip_card .flip_card__back .card__content .card__socials .icons__item.second__card {
  background: #f82828;
}
.who_we_are__cards .flip_card .flip_card__back .card__content .card__socials .icons__item.second__card:hover {
  background: #ffffff;
  color: red;
}
.who_we_are__cards .flip_card .flip_card__back .card__content .card__socials .icons__item.third__card {
  background: #8f2c8f;
}
.who_we_are__cards .flip_card .flip_card__back .card__content .card__socials .icons__item.third__card:hover {
  background: #ffffff;
  color: purple;
}
.who_we_are__cards .flip_card .flip_card__back .card__content .card__socials .icons__item.fourth__card {
  background: #ffb42a;
}
.who_we_are__cards .flip_card .flip_card__back .card__content .card__socials .icons__item.fourth__card:hover {
  background: #ffffff;
  color: orange;
}
.who_we_are__cards .flip_card .flip_card__back .card__content .card__socials .icons__item-last {
  margin: 0;
}
.who_we_are__cards .card__name {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #282528;
  text-transform: capitalize;
}
.who_we_are__cards .card__post {
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #646464;
}

.footer {
  padding: 40px 0;
  text-align: center;
}
.footer .footer__logo {
  margin-bottom: 25px;
}
.footer .footer_menu {
  margin-bottom: 25px;
}
.footer .menu__list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  text-transform: uppercase;
}
.footer .menu__list .list__item .list__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #3C3C3C;
  transition: all 0.4s ease;
}
.footer .menu__list .list__item .list__link:hover {
  color: #18B5DC;
}
.footer .footer__socials.icons .icons__item {
  background-color: #FFFFFF;
  width: 42px;
  line-height: 42px;
  margin-right: 10px;
  border: 1px solid #18B5DC;
  color: #18B5DC;
  transition: all 0.5s ease;
}
.footer .footer__socials.icons .icons__item:hover {
  background-color: #18B5DC;
  color: #F6F6F6;
}
.footer .footer__socials.icons .icons__item-last {
  margin: 0;
}

@media screen and (max-width: 850px) {
  .header .list__item .list__link {
    font-size: 16px;
  }

  .header .header__callback {
    font-size: 16px;
  }

  .who_we_are__cards {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
  }
  .who_we_are__cards .cards__item {
    flex: 0 0 33.333%;
  }
  .who_we_are__cards .flip_card {
    margin-bottom: 10px;
  }

  .footer .menu__list .list__item .list__link {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header .header__callback {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .who_we_are__cards .card__post {
    font-size: 16px;
    line-height: 20px;
  }
  .who_we_are__cards .card__name {
    font-size: 16px;
    line-height: 20px;
  }

  .footer .footer__socials.icons .icons__item {
    width: 35px;
    line-height: 35px;
  }
}
@media screen and (max-width: 605px) {
  .header .menu__list {
    display: none;
  }

  .footer .menu__list {
    flex-direction: column;
  }
}