body, html, p, h2, sup {
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    color: #000000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 10;
}

.header_content {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
}

.language {
    display: inline-block;
    margin-right: 50px;
    font-family: 'Tourney';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav {
    display: inline-block;
}

.nav ul {
    display: flex;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.nav ul li:not(.nav ul li:last-child)::after {
    content: '/';
    top: 0;
    right: 0;
    padding-right: 10px;
    padding-left: 10px;
}


.main {
    padding-top: 80px;
    position: relative;
    z-index: 2;
}

.content {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    margin-top: 70px;
}

.wrapper_main {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sidebar {
    margin-right: 35px;
    position: sticky;
    top: 100px;
    left: 150px;
    height: 100%;
}

.background_image {
    position: fixed;
    top: 150px;
    right: 0;
    z-index: -1;
}

.chapter {
    margin-bottom: 70px;
}

.chapter:last-child {
    margin-bottom: 90px;
}

.content_line {
    width: 100px;
    height: 8px;
    background-color: #000000;
    margin-bottom: 20px;

}

.sidebar_nav {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px; 
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.sidebar_nav li {
    margin-bottom: 80px;
    white-space: nowrap;
    border-bottom: 1px solid #BDBDBD;
}






.content_text {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
}

.content {
    font-style: normal;
    margin-top: 70px;
}

.content:last-child {
    padding-bottom: 90px;
}

.title {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.content_title {
    display: flex;
    height: 50px;
    margin-bottom: 40px;
    position: relative;
}

sup {
    font-family: 'Farro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.04em;
    margin-left: 10px;
    position: absolute;
    top: -13px;
}

.text_color {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    background-color: darkgrey;
    
}

.content_text:not(.content_text:last-of-type) {
    margin-bottom: 40px;
}

.italic {
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
}

.bold {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}

.container {
    margin-bottom: 70px;
}

.container_wrapper {
    margin-bottom: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.title_container {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
}

.container_line {
    margin: 0 40px 0 0;
}

.card_block {
    margin: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.flip_card {
    background-color: transparent;
    width: 270px;
    height: 180px;
    cursor: pointer;
}

.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.flip_card:hover .flip_card_inner {
    transform: rotateX(180deg);
}

.flip_card_front, .flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip_card_front {
    background: #e6e6e6;
    border-radius: 8px;
}

.flip_card_back {
    background: #1a1a1a;
    border-radius: 8px;
    transform: rotateX(180deg);
}

.flip_card_inner img, .flip_card_back img {
    max-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
