@media screen and (max-width: 1360px) {
  .container {
    max-width: 1140px;
  }

  .header {
    background-image: url(../img/hero_img1360.webp);
  }

  .section_explore {
    background-image: url(../img/section1_1360.webp);
  }
  .section_explore .container_explore .explore_text_wrapper {
    max-width: 558px;
  }
  .section_explore .container_explore .explore_img_wrapper {
    margin: 0 122px;
  }

  .book_apartments {
    background-image: url(../img/section2_1360.webp);
  }

  .book_adventure {
    background-image: url(../img/section3_1360.webp);
  }

  .feedback {
    background-image: url(../img/section4_1360.webp);
  }
  .feedback .container_feedback .feedback_photo {
    min-height: 308px;
  }
  .feedback .container_feedback .feedback_about {
    max-width: 640px;
  }

  .container_steps {
    background-size: 75%;
    background-position-x: 135px;
  }
  .container_steps .step_block {
    margin-right: 220px;
  }

  .book_description {
    max-width: 494px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .container_steps {
    background-position-x: 120px;
  }
  .container_steps .step_block {
    margin-right: 150px;
  }

  .section_explore .container_explore .explore_img_wrapper {
    margin: 0 24px;
  }
  .section_explore .container_explore .explore_img_wrapper .explore_second_img {
    max-width: 350px;
    margin-left: 0;
  }

  .feedback .container_feedback .feedback_about {
    max-width: 510px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }

  .header {
    background-image: url(../img/hero_img1024.webp);
  }

  .section_explore {
    background-image: url(../img/section1_1024.webp);
  }
  .section_explore .container_explore .explore_text_wrapper {
    max-width: 550px;
  }

  .book_apartments {
    background-image: url(../img/section2_1024.webp);
  }

  .book_adventure {
    background-image: url(../img/section3_1024.webp);
  }

  .feedback {
    background-image: url(../img/section4_1024.webp);
  }
  .feedback .container_feedback .feedback_about {
    max-width: 520px;
  }

  .container_steps {
    background-size: 75%;
    background-position-x: 135px;
  }

  .book_description {
    max-width: 486px;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: 720px;
  }

  .section_explore .container_explore {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 60px 0;
  }
  .section_explore .container_explore .explore_img_wrapper {
    width: 100%;
    max-width: 720px;
    display: flex;
    margin: 0 0 32px;
  }
  .section_explore .container_explore .explore_img_wrapper .explore_first_img {
    max-width: 350px;
    margin-bottom: 0;
  }
  .section_explore .container_explore .explore_img_wrapper .explore_second_img {
    max-width: 350px;
    margin-left: 24px;
  }
  .section_explore .container_explore .explore_text_wrapper {
    max-width: 558px;
    text-align: center;
    margin: 0 auto;
  }
  .section_explore .container_explore .explore_text_wrapper .explore_title {
    margin-top: 0;
  }
  .section_explore .container_explore .explore_text_wrapper .explore_text {
    margin-bottom: 24px;
  }

  .container_steps {
    background-image: none;
    flex-direction: column;
    padding: 60px 0;
  }
  .container_steps .step_block {
    margin: 0 auto 40px;
  }
  .container_steps .step_block:nth-child(3) {
    margin: 0 auto;
  }

  .book_apartments .container_book .book_wrapper {
    max-width: 720px;
  }
  .book_apartments .container_book .book_wrapper .book_description {
    max-width: 720px;
  }

  .book_adventure .container_book .book_wrapper {
    max-width: 720px;
  }
  .book_adventure .container_book .book_wrapper .book_description {
    max-width: 720px;
  }

  .feedback .container_feedback {
    padding-top: 60px;
  }
  .feedback .feedback_wrapper {
    flex-direction: column;
  }
  .feedback .feedback_wrapper .feedback_photo, .feedback .feedback_wrapper .feedback_about {
    max-width: 720px;
  }

  .navbar_container {
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
  }
  .navbar_container .nav_logo {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .header {
    background-image: url(../img/hero_img768.webp);
  }

  .section_explore {
    background-image: url(../img/section1_768.webp);
  }
  .section_explore .container_explore {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 60px 0;
  }
  .section_explore .container_explore .explore_img_wrapper {
    width: 100%;
    max-width: 720px;
    display: flex;
    margin: 0 0 32px;
  }
  .section_explore .container_explore .explore_img_wrapper .explore_first_img {
    max-width: 350px;
    margin-bottom: 0;
  }
  .section_explore .container_explore .explore_img_wrapper .explore_second_img {
    max-width: 350px;
    margin-left: 24px;
  }
  .section_explore .container_explore .explore_text_wrapper {
    max-width: 558px;
    text-align: center;
    margin: 0 auto;
  }
  .section_explore .container_explore .explore_text_wrapper .explore_text {
    margin-bottom: 24px;
  }

  .book_apartments {
    background-image: url(../img/section2_768.webp);
  }
  .book_apartments .container_book .book_wrapper {
    max-width: 720px;
  }
  .book_apartments .container_book .book_wrapper .book_description {
    max-width: 720px;
  }

  .book_adventure {
    background-image: url(../img/section3_768.webp);
  }
  .book_adventure .container_book .book_wrapper {
    max-width: 720px;
  }
  .book_adventure .container_book .book_wrapper .book_description {
    max-width: 720px;
  }

  .feedback {
    background-image: url(../img/section4_768.webp);
  }
  .feedback .container_feedback {
    padding-top: 60px;
  }
  .feedback .feedback_wrapper {
    flex-direction: column;
  }
  .feedback .feedback_wrapper .feedback_photo, .feedback .feedback_wrapper .feedback_about {
    max-width: 720px;
  }
}
@media screen and (max-width: 750px) {
  .container {
    max-width: 540px;
  }

  .header {
    background-image: url(../img/hero_img576.webp);
  }

  .hamburger {
    display: inline-block;
    width: 42px;
    height: 42px;
    position: relative;
  }
  .hamburger.open {
    position: fixed;
    top: 27px;
    right: 27px;
    z-index: 2;
    margin: 0;
  }
  .hamburger::before, .hamburger::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: blue;
    position: absolute;
  }
  .hamburger::before {
    top: 5px;
    left: 0;
  }
  .hamburger::after {
    top: 35px;
    left: 0;
  }
  .hamburger .h_line {
    top: 20px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: blue;
    position: absolute;
  }

  .navbar_container {
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.8s ease;
  }
  .navbar_container .nav_logo {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
  }
  .navbar_container .nav_logo.open {
    position: fixed;
    top: 50px;
    margin: 0 auto;
    z-index: 3;
  }

  .menu_list {
    position: fixed;
    background: greenyellow;
    right: -1000px;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 800px;
    flex-direction: column;
    z-index: 2;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.8s ease;
  }
  .menu_list.open {
    width: 100%;
    right: 0;
  }
  .menu_list .list_item {
    display: inline-block;
    width: 60%;
    padding-bottom: 5px;
    margin: 0 0 19px;
    text-align: center;
    position: relative;
  }
  .menu_list .list_item:hover {
    transform: scale(0.9);
  }
  .menu_list .list_item:hover ::after {
    content: "";
    border-bottom: 1px solid #ffffff;
    bottom: 10px;
    right: 30%;
    transform: translateX(50%);
    position: absolute;
    justify-content: center;
  }

  .section_explore {
    background-image: url(../img/section1_576.webp);
  }
  .section_explore .container_explore .explore_img_wrapper .explore_first_img {
    max-width: 258px;
    margin-bottom: 0px;
  }
  .section_explore .container_explore .explore_img_wrapper .explore_second_img {
    max-width: 258px;
    margin-left: 24px;
  }

  .book_apartments {
    background-image: url(../img/section2_576.webp);
  }

  .book_adventure {
    background-image: url(../img/section3_576.webp);
  }
  .book_adventure .container_book .book_wrapper {
    max-width: 540px;
  }

  .feedback {
    background-image: url(../img/section4_576.webp);
  }

  .form {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 90%;
  }

  .navbar_container {
    flex-direction: row;
    justify-content: center;
  }
  .navbar_container .nav_logo {
    margin: 0 auto;
  }

  .section_explore .container_explore .explore_img_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .section_explore .container_explore .explore_img_wrapper .explore_first_img, .section_explore .container_explore .explore_img_wrapper .explore_second_img {
    max-width: 100%;
    margin: 0 auto;
  }

  .feedback_wrapper .feedback_about {
    padding: 18px, 15px;
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .form .input {
    float: inline-end;
  }
  .form .form_button {
    top: 15px;
    position: relative;
    padding: 20px 36px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}