@charset "UTF-8";
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Roboto/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/Roboto/roboto-v30-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/Roboto/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/Roboto/roboto-v30-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* delius-unicase-regular - latin */
@font-face {
  font-family: "Delius Unicase";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Delius/delius-unicase-v26-latin-regular.woff2") format("woff2"), url("../fonts/Delius/delius-unicase-v26-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/.icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

p, ul, h1, h2, h3, h4, h5, h6, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

img {
  width: 100%;
  display: block;
}